<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout :: htmlhead" th:with="title='用户管理'"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <div class="layui-body" style="margin: 1%">

        <form id="userSearch" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <div class="layui-form-item">
                <label class="layui-form-label">表类型</label>
                <div class="layui-input-inline">
                    <input id="tableTypeSearch" name="tableType" autocomplete="off" class="layui-input" type="text"/>
                </div>
                <label class="layui-form-label">表名</label>
                <div class="layui-input-inline">
                    <input id="tableNameSearch" name="tableName" autocomplete="off" class="layui-input" type="text" />
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">注册时间</label>
                        <div class="layui-input-inline" style="width: 175px;">
                            <input  name="startTime" id="startTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 175px;">
                            <input name="endTime" id="endTime" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" type="text"/>
                        </div>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    <button class="layui-btn"  lay-submit="" lay-filter="searchSubmit">查询</button>
                </div>
            </div>
        </form>

        <hr class="layui-bg-black"/>

        <div style="display:none;" id="currentUser"><shiro:principal property="id"></shiro:principal></div>

        <table id="tableList" lay-filter="tableTable"></table>

        <script type="text/html" id="optBar">
            <a class="layui-btn layui-btn-xs" lay-event="editTableExplain">编辑</a>
            <a class="layui-btn layui-btn-xs" lay-event="lookTable">查看表结构</a>
            <a class="layui-btn layui-btn-xs" lay-event="lookTableData">查看表数据</a>
        </script>
    </div>


    <!--添加或编辑用户-->
    <div id="setTable" class="layer_self_wrap" style="width:500px;display:none;">
        <form id="tableExplainForm" class="layui-form layui-form-pane" method="post" action="" style="margin-top: 20px;">
            <input id="pageNum" type="hidden" name="pageNum"/>
            <input id="id" type="hidden" name="id"/>
            <div class="layui-form-item">
                <label class="layui-form-label">表类型</label>
                <div class="layui-input-inline">
                    <input id="tableType" name="tableType" lay-verify="required" autocomplete="off" class="layui-input" type="text"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">表名</label>
                <div class="layui-input-inline">
                    <select  id="tableName" name="tableName"  >
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">表说明</label>
                <div class="layui-input-inline">
                    <input id="tableComment" name="tableComment" lay-verify="required" autocomplete="off" class="layui-input" type="text"  />
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left: 10px;">
                    <button class="layui-btn"  lay-submit="" lay-filter="tableExplainSubmit">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/dateUtils.js"></script>
    <script src="/js/table/tableList.js"></script>

</div>
</body>
</html>