<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanting.manager.dao.system.BaseSecretSecureMapper">

    <select id="getBaseSecretSecureList" parameterType="com.guanting.manager.pojo.system.BaseSecretSecure"
                                    resultType="com.guanting.manager.pojo.system.BaseSecretSecure">
    select
    id,user_key userKey,jsbh,ip,create_time createTime,user_name userName,level,status,interface_permissions interfacePermissions
    from base_secret_secure
        <where>
        <if test="id != null and id != '' ">
            and id =   #{id}
        </if>
        <if test="status != null and status != '' ">
                and status =   #{status}
        </if>
        <if test="userKey != null and userKey != '' ">
            and user_key  LIKE  CONCAT('%', #{userKey} ,'%')
        </if>
        <if test="jsbh != null and jsbh != '' ">
            and jsbh  LIKE  CONCAT('%', #{jsbh} ,'%')
        </if>
        <if test="interfacePermissions != null and interfacePermissions != '' ">
            and interface_permissions  LIKE  CONCAT('%', #{interfacePermissions} ,'%')
        </if>
        <if test="startTime != null and startTime != '' ">
            and to_char(create_time, 'YYYY-MM-DD') >=  #{startTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            and to_char(create_time, 'YYYY-MM-DD') &lt;=  #{endTime}
        </if>
        </where>
    </select>

  <update id="updateSecretSercure" parameterType="com.guanting.manager.pojo.system.BaseSecretSecure">
    UPDATE base_secret_secure
    SET user_key = #{userKey},
        jsbh = #{jsbh},
        level = #{level},
        interface_permissions = #{interfacePermissions}
    WHERE id = #{id}
  </update>

    <update id="updateSecretSecureStatus">
    UPDATE base_secret_secure
    SET status = #{status}
    WHERE id = #{id}
  </update>

  <delete id="deleteSecretSecure">
    DELETE from base_secret_secure
    WHERE id = #{id}

  </delete>



</mapper>